<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2015 - Today: GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<openerp><data>

    <menuitem id="menu_pos_sector"
        name="Sectors"
        parent="point_of_sale.menu_point_config_product"
        groups="point_of_sale.group_pos_manager"
        action="action_pos_sector"/>

</data></openerp>
