<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2014 - Today: GRAP (http://www.grap.coop)
@author Julien WESTE
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<openerp><data>

    <menuitem id="menu_internal_useroot"
        name="Internal Uses"
        parent="stock.menu_stock_root"
        sequence="7"
        action="action_internal_use_tree"/>

    <menuitem id="menu_internal_uses"
        name="Internal Uses"
        parent="menu_internal_useroot"
        sequence="1"
        action="action_internal_use_tree"/>

    <menuitem id="menu_internal_use_lines"
        name="Internal Use Lines"
        parent="menu_internal_useroot"
        sequence="2"
        action="action_internal_use_line_tree"/>

    <menuitem id="menu_internal_uses_config" 
        name="Internal Use Cases" 
        parent="stock.menu_stock_configuration" 
        sequence="40" 
        action="action_internal_use_case_tree"/>

</data></openerp>
