<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2014-Today GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
 -->
<openerp><data>

    <menuitem id="menu_product_product"
        parent="stock.menu_stock_product"
        name="Products (Stock)"
        sequence="15"
        action="action_product_product"/>

</data></openerp>
