<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2015 - Today: GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>

    <menuitem id="menu_market_place"
        name="Market Places"
        parent="point_of_sale.menu_point_config_product"
        groups="group_street_market_manager"
        action="action_market_place"/>

</odoo>
