<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2015 - Today: GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<openerp><data>

    <menuitem id="menu_product_supplierinfo"
        name="Supplier Prices"
        sequence="15"
        parent="purchase.menu_procurement_management_product"
        action="action_product_supplierinfo"
        groups="product.group_purchase_pricelist"/>

</data></openerp>
