<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2015-Today GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
 License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->

<openerp><data>

    <menuitem id="menu_pos_order_log"
        parent="point_of_sale.menu_point_config_product"
        action="action_pos_order_log"
        groups="base.group_no_one"
        sequence="20"/>

</data></openerp>
