.paymentline .paymentline-name{
    float: left;
}

.paymentline-set-change{
    height: 40px;
}

.paymentline-set-change button{
    margin-left: 20px;
    font-size: 11px;
}


.paymentline-set-change img{
    max-height: 20px;
}
