.o_mobile_kiosk_abstract_backdrop {
    @include o-position-absolute(0,0,0,0);
    background-color: fade-out(black, 0.7);
}

.o_mobile_kiosk_abstract_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    @include o-position-absolute(0, 0, 0, 0);

    @include media-breakpoint-up(md) {
        justify-content: center;
    }
}

.o_mobile_kiosk_abstract_mode {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: fade-out(white, 0.1);

    @include media-breakpoint-down(sm) {
        overflow: hidden;
        padding: 0 2em 2em;
        flex: 1 0 auto;
    }

    @include media-breakpoint-up(md) {
        padding: 2em 4em;
        width: auto;
        max-width: 550px;
        width: 100%;
        border-radius: 0.2em;
        font-size: 1.2em;
        animation: fadeInDownSmall .3s;
    }

    .o_mobile_kiosk_abstract_row {
        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
        }
        @include media-breakpoint-down(md) {
            > div {
                margin-bottom: 20px;
            }
        }

        img {
            max-width: 80px;
        }
    }

    p {
        text-align: left;
        margin: 3rem 0;
    }

    > button {
        font-size: 1.2em;
        margin-bottom: 2rem;
        width: 100%;
        font-weight: 400;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
