<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2015 - Today: GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>

    <record id="sale.menu_product_pricelist_main" model="ir.ui.menu">
        <field name="groups_id" eval="[(4, ref('product_simple_pricelist.group_simple_pricelist_editor'))]"/>
    </record>

</odoo>
