<?xml version="1.0" encoding="UTF-8" ?>
<!--
Copyright (C) 2020-Today GRAP (http://www.grap.coop)
@author: Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<odoo>

    <menuitem
        id="menu_mobile_kiosk_main"
        name="Mobile Apps"
        web_icon="mobile_kiosk_abstract,static/src/img/icon.png"
        groups="stock.group_stock_user"
    />

</odoo>
